sm = 1rem
md = 2rem
lg = 3rem
xl = 4rem

color-primary = #f50057
color-primary-light = #ff5983
color-primary-dark = #bb002f

color-Secondary = #424242
color-Secondary-light = #6d6d6d
color-Secondary-dark = #1b1b1b


size(w=100%,h=100vh)
  width w
  height h

flexCenter(jus=center , alc=jus , direct=row)
  flex-direction direct
  display flex
  justify-content jus
  align-items alc

posCenter(t=50%,l=50%)
  position absolute
  top t
  left l
  transform translate(-50%,-50%)

*
  margin 0
  padding 0
  box-sizing border-box
  font-family '微軟正黑體'
  text-decoration none
  button
    background-color transparent
    border none



  
