sm = 1rem
md = 2rem
lg = 3rem
xl = 4rem

color-primary = #424242
color-primary-light = #6d6d6d
color-primary-dark = #1b1b1b

color-secondary = #f50057
color-secondary-light = #ff5983
color-secondary-dark = #bb002f


size(w=100%,h=100vh)
  width w
  height h

flexCenter(jus=center , alc=jus , direct=row)
  flex-direction direct
  display flex
  justify-content jus
  align-items alc

posCenter(t=50%,l=50%)
  position absolute
  top t
  left l
  transform translate(-50%,-50%)

// makelongshadow(sz)                 //input range stylus 陰影寫法
//   val= 0vw 0 0 sz color-secondary-dark
//   for i in (1...380)
//     val= val, i*-0.2vw 0 0 -4px color-secondary-dark
//   return val

inputRange($w)
  input[type=range]
    position absolute
    // pointer-events none
    -webkit-appearance none
    z-index 2
    height 10px
    width $w
    // top 30px
    opacity 0
    cursor pointer
  input[type=range]::-webkit-slider-thumb
    pointer-events all
    width 30px
    height 30px
    border-radius 0
    border 0 none
    background-color red
    -webkit-appearance none
    cursor pointer
    


*
  margin 0
  padding 0
  box-sizing border-box
  font-family '微軟正黑體'
  text-decoration none
  button
    background-color transparent
    border none



  
